In [1]:
import numpy as np
import pandas as pd
import xarray as xr

import matplotlib as mp
import matplotlib.pyplot as plt
import matplotlib.colors as colors


from datetime import datetime,timezone

In [2]:
ds = xr.open_dataset('threshold_0.2/second_harmonic_fft.nc')

In [3]:
pa = ds.PA

In [9]:
df = pa.to_dataframe().reset_index().dropna()
df

             lat       lon                time        PA
13320     5.8214  125.2046 2013-05-01 00:00:00  0.277841
13321     5.8214  125.2046 2013-05-01 01:00:00 -0.082231
13322     5.8214  125.2046 2013-05-01 02:00:00 -0.456862
13323     5.8214  125.2046 2013-05-01 03:00:00 -0.771348
13324     5.8214  125.2046 2013-05-01 04:00:00 -0.962856
...          ...       ...                 ...       ...
9157987  20.4490  121.9751 2013-05-01 19:00:00  1.030962
9157988  20.4490  121.9751 2013-05-01 20:00:00  1.013393
9157989  20.4490  121.9751 2013-05-01 21:00:00  1.040523
9157990  20.4490  121.9751 2013-05-01 22:00:00  1.086073
9157991  20.4490  121.9751 2013-05-01 23:00:00  1.116835

[14928 rows x 4 columns]

In [10]:

df = df.groupby(['lat','lon','time']).agg({'PA': ['mean']}).droplevel(axis=1, level=0).reset_index()
df

           lat       lon                time      mean
0       5.8214  125.2046 2013-05-01 00:00:00  0.277841
1       5.8214  125.2046 2013-05-01 01:00:00 -0.082231
2       5.8214  125.2046 2013-05-01 02:00:00 -0.456862
3       5.8214  125.2046 2013-05-01 03:00:00 -0.771348
4       5.8214  125.2046 2013-05-01 04:00:00 -0.962856
...        ...       ...                 ...       ...
14923  20.4490  121.9751 2013-05-01 19:00:00  1.030962
14924  20.4490  121.9751 2013-05-01 20:00:00  1.013393
14925  20.4490  121.9751 2013-05-01 21:00:00  1.040523
14926  20.4490  121.9751 2013-05-01 22:00:00  1.086073
14927  20.4490  121.9751 2013-05-01 23:00:00  1.116835

[14928 rows x 4 columns]

In [6]:
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index().to_csv('pa_noTC.csv')

In [7]:
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index()

time,lon,lat,2013-05-01 00:00:00,2013-05-01 01:00:00,2013-05-01 02:00:00,2013-05-01 03:00:00,2013-05-01 04:00:00,2013-05-01 05:00:00,2013-05-01 06:00:00,2013-05-01 07:00:00,...,2013-05-01 14:00:00,2013-05-01 15:00:00,2013-05-01 16:00:00,2013-05-01 17:00:00,2013-05-01 18:00:00,2013-05-01 19:00:00,2013-05-01 20:00:00,2013-05-01 21:00:00,2013-05-01 22:00:00,2013-05-01 23:00:00
0,117.0623,7.985905,0.986673,0.717572,0.609881,0.677646,0.883065,1.147958,1.376290,1.481613,...,-0.100061,0.164339,0.601375,1.117081,1.598330,1.941440,2.078228,1.992667,1.723771,1.354047
1,117.4356,8.550700,0.800991,0.789976,0.719405,0.607862,0.492828,0.420116,0.430576,0.547693,...,1.882124,1.694590,1.429506,1.142910,0.890229,0.712881,0.628968,0.630434,0.687300,0.757717
2,117.5013,8.876000,0.723003,0.837500,0.913669,0.919944,0.849830,0.723965,0.584468,0.483081,...,1.844848,1.899327,1.810673,1.600788,1.317518,1.022401,0.775160,0.619018,0.570684,0.617592
3,117.6346,8.677431,0.636636,0.667768,0.655245,0.597898,0.515923,0.445133,0.426422,0.493312,...,2.028607,1.922934,1.702334,1.412068,1.107985,0.843056,0.655119,0.559003,0.544972,0.583754
4,117.6480,9.019500,0.850201,0.820667,0.779913,0.733832,0.694128,0.675223,0.690131,0.746434,...,1.423539,1.383901,1.306339,1.207854,1.106885,1.018909,0.953088,0.910788,0.886330,0.869665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,126.4136,8.036845,1.033171,0.727167,0.477644,0.325171,0.287233,0.355146,0.497663,0.670240,...,0.907233,0.988672,1.139429,1.337962,1.544122,1.709026,1.787723,1.751286,1.595103,1.341089
618,126.4482,7.049400,0.842874,0.617663,0.490169,0.449140,0.463572,0.493879,0.504936,0.477329,...,0.992111,1.371476,1.743445,2.044069,2.219800,2.240003,2.104039,1.841117,1.502953,1.151195
619,126.4543,7.790300,1.161458,0.708631,0.383052,0.228693,0.243244,0.381707,0.571260,0.733196,...,0.323905,0.606688,1.032620,1.528670,1.997646,2.341800,2.487120,2.401920,2.104835,1.660116
620,126.5649,7.327000,1.029178,0.958700,0.896232,0.833606,0.764599,0.688172,0.610079,0.542328,...,1.176146,1.343773,1.470252,1.541222,1.552393,1.509688,1.427052,1.322544,1.213775,1.113899
621,126.5698,7.609900,1.383089,1.127622,0.900148,0.731534,0.634688,0.603301,0.615730,0.642855,...,0.578780,0.733204,0.959283,1.228698,1.499312,1.724406,1.863443,1.891582,1.805489,1.623941

In [8]:
pf = ds.PF
df = pf.to_dataframe().reset_index().dropna()
df = df.groupby(['lat','lon','time']).agg({'PF': ['mean']}).droplevel(axis=1, level=0).reset_index()
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index().to_csv('pf_noTC.csv')

pi = ds.PI
df = pi.to_dataframe().reset_index().dropna()
df = df.groupby(['lat','lon','time']).agg({'PI': ['mean']}).droplevel(axis=1, level=0).reset_index()
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index().to_csv('pi_noTC.csv')